.dialogue .gloria[data-character="gloria"] {
  /*Gloria is speaking*/
  color: Green;
}

.dialogue .rosa[data-character="gloria"] {
  /*Rosa is speaking*/
  color: #0080FF;
}

.dialogue .epi[data-character="gloria"] {
  /*Epilogue style*/
  padding: 0rem;
  margin: 0;
  font-size: 110%;
  border-radius: 1.0rem;
}