.dialogue .example[data-character="yuno_uno"] {
  /*This is an example style.*/
  color: blue;
}

.dialogue .setogaya[data-character="yuno_uno"] {
  /**/
  color: #D74D5E;
}

.dialogue .bold[data-character="yuno_uno"] {
  /*This is an example style.*/
  color: blue;
  font-weight: 700;
}