.dialogue .example[data-character="fluttershy"] {
  /*This is an example style.*/
  color: blue;
}

.dialogue .smaller[data-character="fluttershy"] {
  /*Smaller than small.*/
  font-size: 70%;
}

.dialogue .tandemRouge[data-character="fluttershy"] {
  /*For when Rouge is speaking.*/
  color: #880088;
}

.dialogue .tandemFluttershy[data-character="fluttershy"] {
  /*For when Fluttershy is speaking.*/
  color: #FF53A9;
}