.dialogue .meia[data-character="meia"] {
  /*Meia's speech.*/
  color: #87CDE5;
}

.dialogue .jura[data-character="meia"] {
  /*Jura's speech.*/
  color: #C82031;
}

.dialogue .barnette[data-character="meia"] {
  /*Barnette's speech.*/
  color: #65D06E;
}

.dialogue .pyoro[data-character="meia"] {
  /*Pyoro's speech.*/
  font-family: Courier New;
}

.dialogue-bubble[data-character="meia"] hr {
	padding: 0;
	margin-top: 0;
	margin-bottom: 0;
}