.dialogue .mutter[data-character="sucrose"] {
  /*Small Text*/
  font-size: 75%;
}

.dialogue .trail[data-character="sucrose"] {
  /**/
  font-size: 55%;
}

.dialogue .finish[data-character="sucrose"] {
  /**/
  color: Teal;
  font-size: 60%;
}

.dialogue .cagliostro[data-character="sucrose"] {
  /*Cag is talking*/
  color: #FF8040;
}

.dialogue .sucrose[data-character="sucrose"] {
  /*Sucrose is talking*/
  color: Teal;
}