.dialogue .loud[data-character="nonon"] {
  /*nani sore*/
  font-size: 110%;
  font-weight: 700;
}

.dialogue .quiet[data-character="nonon"] {
  /**/
  font-size: 80%;
}

.dialogue .thought[data-character="nonon"] {
  /*think*/
  font-style: italic;
  color: #525252;
}

.dialogue .nonon[data-character="nonon"] {
  /*sex voice*/
  color: #FF8C99;
}

.dialogue .leon[data-character="nonon"] {
  /*Colored dialogue for Leon.*/
  color: #284D9A;
}