.dialogue .jura[data-character="jura"] {
  /*Jura's speech.*/
  color: #DCE049;
}

.dialogue .meia[data-character="jura"] {
  /*Meia's speech.*/
  color: #87CDE5;
}

.dialogue .cheryl[data-character="jura"] {
  /*Cheryl's speech.*/
  color: #876A48;
}