.dialogue .Rarity[data-character="rainbow_dash"] {
  /*Rarity talks*/
  color: #6516F5;
}

.dialogue .Pinkie[data-character="rainbow_dash"] {
  /*Pinkie talks*/
  color: #FF80C0;
}

.dialogue .Twilight[data-character="rainbow_dash"] {
  /*Twilight talks*/
  color: #D789F3;
}

.dialogue .Rainbow[data-character="rainbow_dash"] {
  /*Rainbow talks*/
  color: #2B9CF9;
}