.dialogue .setogaya[data-character="dunban"] {
  /*This is an example style.*/
  color: #D74D5E;
}

.dialogue .aqua[data-character="dunban"] {
  /**/
  color: #0080FF;
}

.dialogue .aquabold[data-character="dunban"] {
  /**/
  color: #0080FF;
  font-weight: 700;
}